<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('.carousel').carousel({
                interval: false,
                pause: true,
                wrap: false
            })
        })
    </script>
    <style>
        #carousel-example-generic{
        }
    </style>
</head>
<body>
<div class="main-content">

    <div id="carousel-example-generic" class="carousel slide"  data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <th:block th:each="dd,iterStat: ${picvos}">
                <li data-target="#carousel-example-generic" th:attr="data-slide-to=${iterStat.index}" th:class="${iterStat.first}? 'active': ''" ></li>
            </th:block>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div th:each="pic,iterStat : ${picvos}"
                 th:class="${iterStat.first}? 'item active': 'item'">
                <img class="mg-responsive center-block"
                     th:src="|/upload/wechat/${pic.name}|"
                     th:alt="${pic.name}"/>
                <div class="carousel-caption">
                    <h3 th:text="${#dates.format(pic.mtime,'yyyy-MM-dd hh:mm:ss')}"></h3>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</body>

</html>
